* { 
	box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main{
  background-color: rgb(218, 189, 225);
margin-top: 50px;
padding-left:40px;
border-radius: 10px;
border: 2px solid black;
min-width: 360px;

}
body{
  background-color: rgb(158, 116, 177);
}
.result{
font-size:x-large
}
p{
font-size: larger;
}